.navbar {
  background-color: #333;
  padding: 0px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fff;
  font-size: 1.5em;
}

.nav-list {
  list-style: none;
  display: flex;
  z-index: 100;
  top: 16px;
}

.nav-list li {
  margin-right: 20px;
}

.nav-list a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
}

.burger-menu {
  font-size: 1.5em;
  color: #fff;
  cursor: pointer;
  display: none;
}

.content {
  padding: 20px;
}

@media only screen and (max-width: 768px) {
  .nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 16px;
    left: 0;
    width: 100%;
    background-color: #333;
    text-align: center;
  }

  .nav-list.show {
    display: flex;
    padding-left: 0;
  }

  .nav-list li {
    margin: 10px 0;
  }

  .burger-menu {
    display: block;
  }
}


@media print {
  body {
    margin: 0;
    padding: 0;
    margin: 0.5cm;
  }

  .bill-container {
    border: none;
  }
.navbar{
  display: none;
}

  header,
  footer,
  nav,
  aside {
    display: none;
  }

  button {
    display: none;
  }
}

@page {
  size: A4;
  margin: 0.5cm;
}